{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>
    <div id="page" class="page-home">
        <header>
            <div class="inner-header">
                <div class="container wide">
                    <div class="wrap">
                        <div class="header-left">
                            <div class="menu-bar">
                                <a href="#0" class="menu-trigger" trigger-button data-target="mobile-menu"><i class="ri-menu-line"></i></a>
                            </div>
                            <div class="list-inline">
                                <ul>
                                    <li><a href=""><i class="ri-user-line"></i></a></li>
                                    <li><a href=""><span class="item-floating">7</span>
                                            <i class="ri-star-line"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-center">
                            <nav class="menu">
                                <ul>
                                    <li><a href=""><span>Home</span></a></li>
                                    <li><a href="">
                                        <span>Products</span>
                                        <i class="ri-arrow-down-s-line"></i></a>
                                        <ul class="sub-mega">
                                            <li>
                                                <div class="container">
                                                    <div class="wrapper">
                                                        <div class="mega-content">
                                                            <div class="dotgrid">
                                                                <div class="wrapper">
                                                                     
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="{% static 'website/images/3.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="{% static 'website/images/4.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i class="ri-star-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">Item-1</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$62.00</span>
                                                                                <span class="current">$45.00</span>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    
                                                                    
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="{% static 'website/images/1.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="{% static 'website/images/2.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i class="ri-star-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">Item-2</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$62.00</span>
                                                                                <span class="current">$45.00</span>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="dot-image">
                                                                            <a href="" class="product-permalink"></a>
                                                                            <div class="thumbnail">
                                                                                <img src="{% static 'website/images/5.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="thumbnail hover">
                                                                                <img src="{% static 'website/images/6.jpg' %}" alt="">
                                                                            </div>
                                                                            <div class="actions">
                                                                                <ul>
                                                                                    <li><a href=""><i class="ri-star-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a></li>
                                                                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="label"><span>-25%</span></div>
                                                                        </div>
                                                                        <div class="dot-info">
                                                                            <h2 class="dot-title"><a href="">Item-3</a></h2>
                                                                            <div class="product-price">
                                                                                <span class="before">$62.00</span>
                                                                                <span class="current">$45.00</span>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="links">
                                                                <div class="list-block">
                                                                    <h3 class="dot-title">Apparel</h3>
                                                                    <ul>
                                                                        <li><a href="#">Clinique</a></li>
                                                                        <li><a href="#">Estée Lauder</a></li>
                                                                        <li><a href="#">NYX</a></li>
                                                                        <li><a href="#">Dior</a></li>
                                                                        <li><a href="#">MAC</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="list-block">
                                                                    <h3 class="dot-title">Apparel</h3>
                                                                    <ul>
                                                                        <li><a href="#">Clinique</a></li>
                                                                        <li><a href="#">Estée Lauder</a></li>
                                                                        <li><a href="#">NYX</a></li>
                                                                        <li><a href="#">Dior</a></li>
                                                                        <li><a href="#">MAC</a></li>
                                                                    </ul>
                                                                </div> <div class="list-block">
                                                                    <h3 class="dot-title">Apparel</h3>
                                                                    <ul>
                                                                        <li><a href="#">Clinique</a></li>
                                                                        <li><a href="#">Estée Lauder</a></li>
                                                                        <li><a href="#">NYX</a></li>
                                                                        <li><a href="#">Dior</a></li>
                                                                        <li><a href="#">MAC</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
                                    </li>
                                    <li><a href=""><span>Blog</span></a></li>
                                </ul>
                                <ul>
                                    <li><a href="">
                                        <span>Brands</span>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>
                                    <ul class="sub-menu list-block">
                                        <li><a href="#">Clinique</a></li>
                                        <li><a href="#">Estée Lauder</a></li>
                                        <li><a href="#">NYX</a></li>
                                        <li><a href="#">Dior</a></li>
                                        <li><a href="#">MAC</a></li>
                                    </ul>
                                    </li>
                                    <li><a href=""><span>Sales</span></a></li>
                                </ul>
                            </nav>

                            <div class="branding"><a href="">GlowGoddess</a></div>
                        </div>
                        <div class="header-right">
                            <div class="list-inline">
                                <ul>
                                    <li><a href="#0" trigger-button data-target="search-float"><i class="ri-search-line"></i></a></li>
                                    <li><a href=""><span class="item-floating">0</span><i class="ri-shopping-bag-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-float" class="search-float">
                    <div class="container wide">
                        <form action="" class="search">
                            <i class="ri-search-line"></i>
                            <input type="search" class="input" id="" placeholder="Search products">
                            <i class="ri-close-line" close-button></i>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {% block main %}
            <!-- Default main content -->
            {% endblock %}
        </main>

        <footer>
            <div class="inner-footer">
                <div class="container">
                    <div class="wrap">
                        <div class="top">
                            <div class="subscribe">
                                <h3>Get a free $20 Voucher from us</h3>
                                <p class="grey-color">Enter your email address to be notified about the latest arrivals and sales.</p>
                                <form accept="" class="search">
                                    <i class="ri-mail-line"></i>
                                    <input type="text" class="input" placeholder="Enter your email" id="">
                                    <input type="submit" class="submit">
                                    <i class="ri-arrow-right-line"></i>
                                </form>
                            </div>
                            <div class="list-block">
                                <h3 class="dot-title">Services</h3>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Payments</a></li>
                                    <li><a href="">Delivery Information</a></li>
                                    <li><a href="">Terms and Condition</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="list-block">
                                <h3 class="dot-title">Profile</h3>
                                <ul>
                                    <li><a href="">My Account</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="">Wishlist</a></li>
                                    <li><a href="">Cart</a></li>
                                    <li><a href="">Checkout</a></li>
                                </ul>
                            </div>
                            <div class="list-block">
                                <h3 class="dot-title">Contact Us</h3>
                                <div class="comp-address grey-color">
                                    <p>Maple Street No.123<br>Springfield, IL 62704</p>
                                    <p>
                                        <a href="">+65 12345678</a>
                                        <br>
                                        <a href="">glowgoodess@gmail.com</a>
                                    </p>
                                    <p>
                                        Weekdays: 9AM to 6PM<br>
                                        Saturday: 9AM to 1PM<br>
                                        Sunday: Closed
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="list-inline">
                                <ul>
                                    <li><a href=""><i class="ri-facebook-line"></i></a></li>
                                    <li><a href=""><i class="ri-instagram-line"></i></a></li>
                                    <li><a href=""><i class="ri-twitter-line"></i></a></li>
                                    <li><a href=""><i class="ri-pinterest-line"></i></a></li>
                                </ul>
                            </div>
                            <div class="copyright">
                                <p>© 2024. glowgoddess. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 
    </div>
    <div class="overlay" data-overlay></div>
    <div id="mobile-menu" class="mobile-menu">
        <div class="wrap">
            <a href="" class="close-trigger" close-button>
            <i class="ri-close-line"></i>
        </a>
            <div class="main-menu scrollto">
                <nav class="wrapper">
                    <ul>
                        <li><a href=""><span>Home</span></a></li>
                        <li class="has-child"><a href="">
                            <span>Products</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                            </a>
                            <ul class="sub-menu list-block">
                                <li><a href="#">Estée Lauder</a></li>
                                <li><a href="#">Chanel</a></li>
                                <li><a href="#">Dior</a></li>
                                <li><a href="#">Shiseido</a></li>
                                <li><a href="#">Fenty Beauty</a></li>
                                <li><a href="#">Augustinus Bader</a></li>
                                <li><a href="#">Clinique</a></li>
                                <li><a href="#">Maybelline</a></li>
                                <li><a href="#">Glossier</a></li>
                                <li><a href="#">Estée Lauder</a></li>
                                <li><a href="#">Chanel</a></li>
                                <li><a href="#">Dior</a></li>
                                <li><a href="#">Shiseido</a></li>
                                <li><a href="#">Fenty Beauty</a></li>
                                <li><a href="#">Augustinus Bader</a></li>
                                <li><a href="#">Clinique</a></li>
                                <li><a href="#">Maybelline</a></li>
                                <li><a href="#">Glossier</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span>Blog</span></a></li>
                        <li class="has-child">
                            <a href="">
                                <span>Brands</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                            </a>
                            <ul class="sub-menu list-block">
                                <li><a href="#">Estée Lauder</a></li>
                                <li><a href="#">Chanel</a></li>
                                <li><a href="#">Dior</a></li>
                                <li><a href="#">Shiseido</a></li>
                                <li><a href="#">Fenty Beauty</a></li>
                                <li><a href="#">Augustinus Bader</a></li>
                                <li><a href="#">Clinique</a></li>
                                <li><a href="#">Maybelline</a></li>
                                <li><a href="#">Glossier</a></li>
                            </ul>
                        </li>
                        <li><a href=""><span>Sales</span></a></li>
                    </ul>
                </nav>
                <div class="button">
                <a href="" class="secondary-btn">Login</a>
                <a href="" class="primary-btn">Register</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'website/js/script.js' %}"></script>
</body>
</html>













